body {
  background-color: #0d1117;
  color: #f0f6fc;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-alingn: center;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #4F46E5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 5px rgba(79,70,229,0.5);
    cursor: pointer;
}

#quiz-container {
  background-color: #1F1F1F;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  padding: 20px; 
  border-radius: 12px;
  max-width: 700px;
  margin: 20px auto; 
  transition: all 0.3s ease;
  width: 90%;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  #quiz-container {
    padding: 20px;
    margin: 10px auto;
    width: 95%;
  }
}


label {
  font-weight: 600;
  color: #c9d1d9;
}

.range-value {
  font-weight: bold;
  margin-left: 10px;
  transition: all 0.2s ease;
}

.form-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  background-color: #444;
  margin: 10px 0;
  display: block;
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: #58a6ff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  transition: transform 0.2s ease;
}

.form-range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #58a6ff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  transition: transform 0.2s ease;
}

.button {
    background: linear-gradient(90deg, #4F46E5, #6366F1);
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
}
.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(79,70,229,0.5);
}


#result {
  background-color: #1f6feb;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}



